{% extends 'studym/base.html' %}

{% block body %}

<section style="--primaryColor:{{themeColor.0}};--secondaryColor:{{themeColor.1}};--backColor:{{themeColor.2}}" class="relative flex flex-col min-h-screen w-screen items-center p-3 gap-3 bg-[{{themeColor.2}}]">
    <div class="w-full md:w-1/2 lg:w-1/3 flex flex-row justify-center items-center mt-3">
        <div class="inputBox flex flex-col">
            <input class="input" id="searchBox" type="text" name="q" class="p-2 outline-none border-2 w-full rounded-lg" autocomplete="new-password" hx-get="{% url 'stack-search' %}" hx-trigger="keyup changed delay:500ms" hx-target="#search-results">
            <label for="searchBox" class="text-black">Search</label>
            <small class="error" id="num-search-results"></small>
            {% comment %} <div class="w-full text-center text-white" id='search-results'></div> {% endcomment %}
        </div>
    </div>
    
<div class="flex flex-col w-full gap-2 text-center">
    <div id="search-results" class="bg-[{{themeColor}}] z-10 w-full grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-2 text-center"></div>
    <div class="w-full justify-center text-center grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-2">
        {% for topic in topics %}
        <a href="{% url 'stack-detail' topic.slug %}" class="flex flex-row group topic-obj relative text-center text-white border-[1px] hover:scale-105 hover:border-[{{themeColor.0}}] hover:text-[{{themeColor.0}}] duration-500">
            <img src="{{topic.image_url}}" alt="" class="h-full border-r-[1px] border-r-[{{themeColor.1}}] group-hover:border-r-[{{themeColor.0}}] duration-500 w-10 lg:w-20 aspect-square object-cover">
            <p class="w-full flex flex-col justify-center items-center text-center">{{topic.title|truncatechars:"15"}}</p>
        </a>
        <a href="{% url 'stack-detail' topic.slug %}" class="flex flex-row group topic-obj relative text-center text-white border-[1px] hover:scale-105 hover:border-[{{themeColor.0}}] hover:text-[{{themeColor.0}}] duration-500">
            <img src="{{topic.image_url}}" alt="" class="h-full border-r-[1px] border-r-[{{themeColor.1}}] group-hover:border-r-[{{themeColor.0}}] duration-500 w-10 lg:w-20 aspect-square object-cover">
            <p class="w-full flex flex-col justify-center items-center text-center">{{topic.title|truncatechars:"15"}}</p>
        </a>
        <a href="{% url 'stack-detail' topic.slug %}" class="flex flex-row group topic-obj relative text-center text-white border-[1px] hover:scale-105 hover:border-[{{themeColor.0}}] hover:text-[{{themeColor.0}}] duration-500">
            <img src="{{topic.image_url}}" alt="" class="h-full border-r-[1px] border-r-[{{themeColor.1}}] group-hover:border-r-[{{themeColor.0}}] duration-500 w-10 lg:w-20 aspect-square object-cover">
            <p class="w-full flex flex-col justify-center items-center text-center">{{topic.title|truncatechars:"15"}}</p>
        </a>
        {% endfor %}
    </div>
</div>
</section>

<script>
    $('.input').on('change', function(){
        let value = $(this).val();
            if (value.length) {
                $(this).addClass('input-active');
                $(this).parent().children('label').addClass('label-active');
            } else {
                $(this).removeClass('input-active');
                $(this).parent().children('label').removeClass('label-active');
                $('#num-search-results').html(value);
        
            }
    })

    $('#search-results').on('DOMSubtreeModified', function(){
        let lenSearchResults = $('#search-results').children().length
        let themePrimaryColor = 'white'
        if (lenSearchResults) {
            let smallText = `${lenSearchResults} Matching Topics Found`
            $('#num-search-results').html(smallText)
            $(this).css({'border-bottom':`1px solid ${themePrimaryColor}`, 'padding-bottom':'10px'})
        } else {
            $(this).css({'border-bottom':'0 solid red', 'padding-bottom':'0'})
            $('#num-search-results').html('No Matching Topics')
            
        }

    })

    $('.topic-obj').each((i, element) => {
        let title = $(element).children('p').text()
        $(element).attr('title', title);
    })
</script>

{% endblock body %}